/* Responsive Css */

@media only screen and (max-width: 1599px){
  
}


@media only screen and (max-width: 1499px){

  .header-style-two .outer-container{
    padding-left: 40px;
    padding-right: 40px;
  }

}


@media only screen and (max-width: 1200px){

  .main-menu,
  .sticky-header,
  .main-header.style-one .outer-container:before{
    display: none !important;
  }

  .menu-area .mobile-nav-toggler {
    display: block;
    padding: 10px;
  }

  .main-header .shape{
    display: none;
  }

  .main-header .logo-box{
    padding: 15px 0px;
  }

  .main-header .logo-box img{
    max-width: 180px;
    height: auto;
  }

  .project-section .outer-container{
    padding-left: 15px;
    padding-right: 15px;
  }

  .funfact-block-one .inner-box .count-outer{
    font-size: 90px;
    line-height: 80px;
  }

  .video_block_one .video-content{
    margin: 0px;
  }

  .about-style-two .image-box{
    margin: 0px;
  }

  .about-style-two .content-box{
    margin-right: 0px;
  }

  .feature-section .inner-container .feature-list{
    margin: 0px;
  }

  .project-style-two .outer-container{
    padding-left: 30px;
    padding-right: 30px;
  }

  .fluid-section .left-column .content-box,
  .fluid-section .right-column .content-box{
    padding-left: 30px;
  }

  .banner-style-three{
    padding-right: 0px;
  }

  .header-style-three .outer-container{
    padding-left: 30px;
    padding-right: 30px;
  }

  .content_block_three .content-box{
    margin-right: 0px;
  }

  .image_block_one .image-box{
    margin: 0px;
  }

  .feature-section .feature-list{
    margin-left: 0px;
  }

  .project-style-three .outer-container{
    padding-left: 15px;
    padding-right: 15px;
  }

  .consulting-section .image-box{
    margin-left: 0px;
  }

  .testimonial-style-two .owl-nav{
    display: none;
  }

  .contact-section .form-inner,
  .about-style-four .content-box,
  .about-style-four .image-box,
  .chooseus-style-two .sec-title,
  .chooseus-style-two .content-box{
    margin: 0px;
  }

  .about-style-four .lamp-image,
  .border-line{
    display: none;
  }

  .bestselling-section .sec-title{
    margin-left: 30px;
  }

  .contact-style-two .content-box,
  .about-style-six .image-box{
    margin-left: 0px;
  }

  .project-block-one .inner-box .content-box .text-box{
    padding-left: 30px;
  }

  .project-block-one .inner-box:hover .content-box .text-box{
    bottom: 25px;
  }

  .footer-widget.ml_170{
    margin-left: 0px;
  }

  .appointment-title h2 br{
    display: none;
  }

  .blog-standard-content,
  .blog-details-content{
    margin-right: 0px;
  }

  .contact-style-three .info-content{
    margin-left: 0px;
  }


}



@media only screen and (min-width: 768px){
  .main-menu .navigation > li > ul,
  .main-menu .navigation > li > ul > li > ul,
  .main-menu .navigation > li > .megamenu{
    display:block !important;
    visibility:hidden;
    opacity:0;
  }
}



@media only screen and (max-width: 991px){

  .banner-carousel .slide-item .bg-layer,
  .banner-section .owl-nav,
  .banner-section .banner-carousel .slide-item:before{
    display: none;
  }

  .banner-section .year-box{
    right: 30px;
  }

  .about-section .image-box{
    margin-right: 0px;
    margin-bottom: 30px;
  }

  .content_block_one .content-box{
    margin-left: 0px;
  }

  .faq-section .accordion-box{
    margin: 0px;
  }

  .project-block-one .inner-box{
    margin-bottom: 30px;
  }

  .funfact-block-one .inner-box{
    text-align: left;
    margin-bottom: 30px;
  }

  .funfact-section .outer-container{
    padding: 130px 30px 100px 30px;
  }

  .content_block_two .content-box,
  .working-block-one .inner-box{
    margin-bottom: 30px;
  }

  .working-section{
    padding-bottom: 82px;
  }

  .transforming-section .text-box{
    margin-left: 0px;
  }

  .transforming-section .image-box{
    margin: 0px;
  }

  .main-footer .logo-widget{
    margin: 0px 0px 30px 0px;
  }

  .banner-style-two .outer-container{
    padding-right: 30px;
  }

  .offer-block-one .inner-box,
  .consulting-section .content-box,
  .chooseus-block-one .inner-box{
    margin-bottom: 30px;
  }

  .offer-section{
    padding-bottom: 70px;
  }

  .about-style-two .content-box{
    margin-bottom: 30px;
  }

  .feature-section .title-text h3{
    margin-bottom: 30px;
  }

  .chooseus-section .inner-container{
    padding-bottom: 70px;
  }

  .fluid-section .left-column,
  .fluid-section .right-column{
    width: 100%;
  }

  .content_block_three .content-box,
  .project-block-two .inner-box{
    margin-bottom: 30px;
  }

  .project-style-three .title-box .btn-box{
    text-align: left;
    margin-top: 20px;
  }

  .project-style-three{
    padding-bottom: 100px;
  }

  .faq-style-two .accordion-box{
    margin-left: 0px;
  }

  .testimonial-style-two .sec-title{
    margin-bottom: 40px;
  }

  .content_block_four .content-box{
    margin-bottom: 30px;
  }

  .about-style-four .content-box{
    margin-bottom: 30px;
  }

  .service-style-two .sec-title a{
    position: relative;
    bottom: 0px;
    margin-top: 15px;
  }

  .chooseus-style-two .content-box .border-line-1,
  .chooseus-style-two .content-box .border-line-2{
    display: none;
  }

  .chooseus-style-two .sec-title{
    text-align: center;
  }

  .consulting-style-two .video-column{
    position: relative;
    width: 100%;
    height: auto;
  }

  .consulting-style-two .bg-color{
    width: 100%;
  }

  .consulting-style-two .content-box{
    margin-right: 0px;
    margin-bottom: 30px;
  }

  .bestselling-section .sec-title{
    margin-left: 0px;
    margin-top: 40px;
  }

  .bestselling-section .sec-title:before{
    display: none;
  }

  .about-style-five .sec-title{
    margin-bottom: 50px;
  }

  .contact-style-two .bg-layer{
    display: none;
  }

  .contact-style-two .inner-container{
    margin: 0px;
  }

  .contact-style-two{
    background: #f7f6f3;
  }

  .header-style-four .outer-container{
    padding-left: 30px;
    padding-right: 30px;
  }

  .about-style-six .content_block_three .content-box .inner-box .single-item{
    margin-bottom: 30px;
  }

  .funfact-block-one .inner-box{
    text-align: center;
  }

  .funfact-block-one{
    margin: 0px;
  }

  .header-top .top-inner{
    display: block;
    text-align: center;
  }

  .header-top .left-column{
    justify-content: space-between;
  }

  .project-details-content{
    margin-bottom: 40px;
  }

  .blog-details-content{
    margin-bottom: 40px;
  }

  .contact-style-three .info-content{
    margin-top: 30px;
  }

  .header-top .bg-shape{
    display: none;
  }

  /* Fix footer email spacing on medium screens */
  .main-footer .logo-widget .info-list li{
    margin-bottom: 25px;
  }

  .main-footer .logo-widget .info-list li a{
    display: inline-block;
    word-break: break-word;
  }

  /* Fix footer info-list layout on medium screens */
  .main-footer .logo-widget .info-list{
    display: block !important;
  }

  .main-footer .logo-widget .info-list li{
    display: block !important;
    margin-bottom: 25px;
  }

  .main-footer .logo-widget .info-list li:last-child{
    margin-bottom: 0px;
  }

  .main-footer .logo-widget .info-list li a{
    display: inline-block;
    word-break: break-word;
  }

}


@media only screen and (max-width: 767px){
  .header-top .left-column{
    display: block;
    text-align: center;
  }

  .header-top .info-list li:last-child{
    margin-right: 0px;
  }

  .header-top .info-list li:before{
    display: none;
  }

  .header-top .info-list,
  .header-top .social-links{
    justify-content: center;
  }

  .main-header .logo-box img{
    max-width: 150px;
    height: auto;
  }

  .banner-carousel .content-box h2{
    font-size: 36px;
    line-height: 44px;
  }

  .banner-section .year-box{
    position: relative;
    right: 0px;
    bottom: 0px;
    padding-left: 15px;
  }

  .banner-section .year-box span{
    line-height: 100px;
    font-size: 60px;
  }

  .banner-section .banner-carousel .slide-item{
    padding: 80px 0px;
  }

  .banner-section{
    padding-bottom: 80px;
  }

  .about-section,
  .faq-section,
  .testimonial-section{
    padding: 50px 0px;
  }

  .sec-title h2{
    font-size: 26px;
    line-height: 34px;
  }

  .sec-title .sub-title{
    font-size: 14px;
    margin-bottom: 8px;
  }

  .project-section{
    padding-top: 50px;
  }

  .funfact-section .outer-container{
    padding: 30px 15px;
  }

  /* Make funfact blocks 2x2 grid on mobile */
  .funfact-section .row{
    display: flex;
    flex-wrap: wrap;
  }

  .funfact-section .funfact-block{
    flex: 0 0 50%;
    max-width: 50%;
    margin-bottom: 30px;
  }

  .funfact-block-one{
    margin: 0px;
    padding: 0 10px;
  }

  .funfact-block-one .inner-box{
    text-align: center;
  }

  .funfact-block-one .inner-box .count-outer{
    font-size: 60px;
    line-height: 60px;
    height: 60px;
    margin-bottom: 10px;
  }

  .funfact-block-one .inner-box p{
    font-size: 14px;
    line-height: 20px;
  }

  .testimonial-section .owl-nav,
  .working-section .pattern-layer{
    display: none;
  }

  /* Hide project carousel navigation on mobile */
  .project-style-two .owl-nav{
    display: none !important;
  }

  .video-section{
    padding: 50px 0px;
  }

  .working-section,
  .news-section{
    padding: 50px 0px 30px 0px;
  }

  .transforming-section{
    padding-top: 50px;
  }

  .transforming-section .title-text{
    text-align: left;
    margin-bottom: 25px;
  }

  .transforming-section .image-box{
    margin-bottom: 25px;
  }

  .slide-text-outer .text-box.italic{
    font-size: 50px;
    line-height: 50px;
  }

  .slide-text-outer{
    padding-bottom: 40px;
  }

  .footer-widget .links-widget{
    margin: 0px 0px 25px 0px;
  }

  .banner-style-two h2{
    font-size: 32px;
    line-height: 40px;
  }

  .banner-style-two h2 br{
    display: none;
  }

  .banner-style-two{
    padding-top: 120px;
    padding-bottom: 40px;
  }

  .banner-style-two .outer-container{
    padding-left: 15px;
    padding-right: 15px;
  }

  .banner-style-two .link{
    position: relative;
    left: 0px;
    top: 0px;
    transform: rotate(0deg);
    margin-bottom: 15px;
  }

  .banner-style-two .title-box{
    margin-bottom: 25px;
  }

  .banner-carousel-wrapper .banner-slide img{
    width: 100%;
    height: auto;
    max-height: 400px;
    object-fit: cover;
  }

  .offer-section,
  .service-section{
    padding: 50px 0px 30px 0px;
  }

  .about-style-two{
    padding: 50px 0px;
  }

  .about-style-two .content-box .text-box p:first-child{
    font-size: 18px !important;
    line-height: 28px !important;
  }

  .about-style-two .content-box .text-box p{
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 15px;
  }

  .service-block-one .inner-box p{
    font-size: 16px;
    line-height: 25px;
  }

  .testimonial-section .text-box p{
    font-size: 13px;
    line-height: 22px;
  }

  .main-footer .logo-widget .info-list{
    display: block;
  }

  .main-footer .logo-widget .info-list li{
    margin-bottom: 20px;
  }

  .main-footer .logo-widget .info-list li:last-child{
    margin-bottom: 0px;
  }

  /* Make phone numbers appear on separate lines */
  .main-footer .logo-widget .info-list li a{
    display: block;
  }

  /* Keep Company and Services side by side on mobile */
  .footer-widget.ml_170 .row{
    display: flex;
    flex-wrap: nowrap;
  }

  .footer-widget.ml_170 .links-column{
    flex: 0 0 50%;
    max-width: 50%;
  }

  .footer-widget.ml_170 .links-widget{
    margin: 0px 0px 25px 0px;
    padding-right: 10px;
  }

  .footer-widget.ml_170{
    margin-left: 0px;
  }

  .footer-widget .links-widget .widget-title span{
    font-size: 14px;
  }

  .footer-widget .links-widget .links-list li{
    font-size: 13px;
  }

  .footer-widget .links-widget .links-list li a{
    font-size: 13px;
  }

  .main-footer .logo-widget .info-list li{
    margin-bottom: 20px;
  }

  .main-footer .logo-widget .info-list li:last-child{
    margin-bottom: 0px;
  }

  .offer-block-one .inner-box{
    padding-right: 0px;
    min-height: 250px;
  }

  .header-style-two .outer-container,
  .header-style-three .outer-container,
  .header-style-four .outer-container{
    padding-left: 15px;
    padding-right: 15px;
  }

  .image_block_one .image-box{
    padding: 0px;
  }

  .image_block_one .image-box .image-2{
    position: relative;
    margin-top: 20px;
  }

  .about-style-five .content-box .lower-box{
    display: block;
  }

  .about-style-five .content-box .author-info{
    margin-right: 0px;
    margin-bottom: 15px;
  }

  .error-section .inner-box h1{
    font-size: 120px;
    line-height: 110px;
  }

  .appointment-form .date-box .nice-select{
    width: 90px;
  }

  .news-block-two .inner-box .lower-content .post-info{
    display: block;
  }

  .blog-details-content .comments-form-area .form-inner{
    padding-left: 20px;
    padding-right: 20px;
  }

  .banner-style-two h2{
    font-size: 24px;
    line-height: 32px;
  }

  .sec-title h2{
    font-size: 22px;
    line-height: 30px;
  }

  .theme-btn{
    font-size: 13px;
    padding: 10px 24px;
  }

  .banner-style-two{
    padding-top: 100px;
  }

  .banner-carousel-wrapper .banner-slide img{
    max-height: 250px;
  }

  .about-style-two .content-box .text-box p:first-child{
    font-size: 16px !important;
    line-height: 25px !important;
  }

  .about-style-two .content-box .text-box p{
    font-size: 14px;
    line-height: 23px;
  }

  .service-block-one .inner-box p{
    font-size: 14px;
    line-height: 22px;
  }

  .testimonial-section .text-box p{
    font-size: 13px;
    line-height: 21px;
  }

  /* Popup responsive improvements */
  .lux-box{
    margin: 5% 10px;
  }

  .lux-left{
    height: 200px;
  }

  .lux-right{
    padding: 25px 20px;
  }

  .lux-right h2{
    font-size: 22px;
  }

  .lux-overlay h3{
    font-size: 20px;
  }

  .lux-overlay ul{
    margin-top: 10px;
  }

  .lux-overlay li{
    font-size: 12px;
  }

  .lux-form input,
  .lux-form select{
    padding: 10px;
    font-size: 13px;
  }

  .lux-form button{
    padding: 12px;
    font-size: 14px;
  }

  .clients-logo img{
    max-width: 90px;
    height: auto;
  }

  /* Better spacing for partner logos on small screens */
  .five-item-carousel{
    margin: 0 -10px;
  }

  .five-item-carousel .clients-logo{
    padding: 0 10px;
  }

  /* Horizontal scrolling for What We Offer and Why Choose Us sections on mobile */
  .offer-section .row,
  .service-section .row {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
    scroll-behavior: smooth;
    margin-right: -15px;
    margin-left: -15px;
    padding: 0 15px;
  }

  .offer-section .row::-webkit-scrollbar,
  .service-section .row::-webkit-scrollbar {
    height: 4px;
  }

  .offer-section .row::-webkit-scrollbar-track,
  .service-section .row::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
  }

  .offer-section .row::-webkit-scrollbar-thumb,
  .service-section .row::-webkit-scrollbar-thumb {
    background: #1f3d3b;
    border-radius: 10px;
  }

  .offer-section .offer-block,
  .service-section .service-block {
    flex: 0 0 85%;
    max-width: 85%;
    scroll-snap-align: start;
    margin-bottom: 0 !important;
  }

  .offer-section .offer-block:not(:last-child),
  .service-section .service-block:not(:last-child) {
    margin-right: 15px;
  }

  /* Add a scroll indicator hint */
  .offer-section .auto-container,
  .service-section .auto-container {
    position: relative;
  }

  .offer-section .auto-container::after,
  .service-section .auto-container::after {
    content: '← Swipe to see more →';
    display: block;
    text-align: center;
    font-size: 12px;
    color: #999;
    margin-top: 15px;
    font-style: italic;
  }

}

@media only screen and (max-width: 599px){

  .about-style-two .content-box .text-box p:first-child{
    font-size: 17px !important;
    line-height: 26px !important;
  }

  .about-style-two .content-box .text-box p{
    font-size: 15px;
    line-height: 25px;
  }

  .service-block-one .inner-box p{
    font-size: 15px;
    line-height: 24px;
  }

  .testimonial-section .text-box p{
    font-size: 12px;
    line-height: 20px;
  }

}

@media only screen and (max-width: 499px){

  .about-style-two .content-box .text-box p:first-child{
    font-size: 16px !important;
    line-height: 25px !important;
  }

  .about-style-two .content-box .text-box p{
    font-size: 15px;
    line-height: 24px;
  }

  .service-block-one .inner-box p{
    font-size: 15px;
    line-height: 23px;
  }

  .testimonial-section .text-box p{
    font-size: 12px;
    line-height: 20px;
  }

}

/* Extra small devices */
@media only screen and (max-width: 400px){
  
  .banner-style-two h2{
    font-size: 22px;
    line-height: 30px;
  }

  .sec-title h2{
    font-size: 20px;
    line-height: 28px;
  }

  .service-block-one .inner-box{
    padding: 20px 15px !important;
    min-height: 280px !important;
  }

  .service-block-one .inner-box h3{
    font-size: 17px;
    line-height: 24px;
  }

  .service-block-one .inner-box .icon-box img{
    width: 50px !important;
    height: 50px !important;
  }

  .service-block-one .inner-box p{
    font-size: 14px;
    line-height: 22px;
  }

  .offer-block-one .inner-box h3{
    font-size: 20px;
    line-height: 28px;
  }

  .testimonial-section .text-box p{
    font-size: 11px;
    line-height: 19px;
  }

  .clients-logo img{
    max-width: 80px;
  }

  .banner-carousel-wrapper .banner-slide img{
    max-height: 220px;
  }

  .lux-right h2{
    font-size: 20px;
  }

  .lux-right span{
    font-size: 12px;
  }

  .about-style-two .content-box .text-box p:first-child{
    font-size: 15px !important;
    line-height: 24px !important;
  }

  .about-style-two .content-box .text-box p{
    font-size: 14px;
    line-height: 23px;
  }

}




















